body {
    background: rgb(19, 167, 167);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    width: 250px;
}

button {
    cursor: pointer;
    padding: 12px;
    border: none;
    background-color: white;
    width: -webkit-fill-available;
       
}

button:active{
    opacity: 80%;
}
button[disabled]{
    opacity: 65%;
}

.esqueciSenha {
    background-color: transparent;
    border: none;
    color: white;
    text-decoration: underline;
    margin-bottom: 10px;
    padding-inline:0px ;
    text-align: left;
}

.cadastrar {
    background: rgb(6, 11, 82);
    color: white;
}

input {
    padding: 12px;
    border: none;
    width: -webkit-fill-available;
}

.email{
    margin-bottom: 16px;
}

label {
    color: rgb(255, 255, 255); 
    font-size: 18px;
}

.error{
    color:rgb(189, 0, 0);
}