.labelConfirmeSenha {
    text-align: left;
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    color: #1e1e1e;
    display: block;
    margin-bottom: 3px;
}

.labelCadastrarEmail{
    margin-top: 10px;
}
.labelCadastrarSenha{
    margin-top: 10px;
}
.Cadastrar{
    border-radius: 8px;
    background: #2a0c4b;
    color: white;
    border: none;
    padding: 10px;
    font-size: 13px;
    width: 300px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.campoNome{
    margin-bottom: 0px;
}

.labelEmail{
    margin-top: 25px;
}
